<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='About')"></head>

<body>

<div th:replace="fragments :: menu"></div>

<div class="container mt-4">

  <h2>About Page</h2>

  <p>
    <strong>Development Team: James And Misha</strong>
    
  </p>

  <p>
    <strong>Application Version: 1.2.0</strong>
    
  </p>

  <p>
    <strong>Release Date:</strong>
    <span th:text="${date}"></span>
  </p>

</div>

<div th:replace="fragments :: javascript"></div>

</body>
</html>